# importing neccessary packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
!pip install category_encoders

Requirement already satisfied: category_encoders in c:\users\thota\pyana\envs\udemy\lib\site-packages (2.6.2)
Requirement already satisfied: numpy>=1.14.0 in c:\users\thota\pyana\envs\udemy\lib\site-packages (from category_encoders) (1.24.3)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\thota\pyana\envs\udemy\lib\site-packages (from category_encoders) (1.3.0)
Requirement already satisfied: scipy>=1.0.0 in c:\users\thota\pyana\envs\udemy\lib\site-packages (from category_encoders) (1.11.2)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\thota\pyana\envs\udemy\lib\site-packages (from category_encoders) (0.14.0)
Requirement already satisfied: pandas>=1.0.5 in c:\users\thota\pyana\envs\udemy\lib\site-packages (from category_encoders) (2.1.0)
Requirement already satisfied: patsy>=0.5.1 in c:\users\thota\pyana\envs\udemy\lib\site-packages (from category_encoders) (0.5.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\thota\pyana\envs\udemy\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\thota\pyana\envs\udemy\lib\site-packages (from pandas>=1.0.5->category_encoders) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\thota\pyana\envs\udemy\lib\site-packages (from pandas>=1.0.5->category_encoders) (2023.3)
Requirement already satisfied: six in c:\users\thota\pyana\envs\udemy\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\thota\pyana\envs\udemy\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\thota\pyana\envs\udemy\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (3.2.0)
Requirement already satisfied: packaging>=21.3 in c:\users\thota\pyana\envs\udemy\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (23.1)

In [2]:
df=pd.read_csv('train (2).csv')

In [3]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
df.drop(["FireplaceQu" ,"MiscFeature" ,"Fence","PoolQC"],inplace=True,axis=1)

In [5]:
df.isna().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 77, dtype: int64

In [6]:
#today we will learn various categorical encoding methods

# Data Preparation

In [7]:
#encoding methods can only done on categorical variables
#so split our data into categorical and numerical
cat=df.select_dtypes(exclude=np.number)
num=df.select_dtypes(include=np.number)

In [8]:
cat.head()

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,Electrical,KitchenQual,Functional,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,SaleType,SaleCondition
0,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD,Normal
1,RL,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,...,SBrkr,TA,Typ,Attchd,RFn,TA,TA,Y,WD,Normal
2,RL,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD,Normal
3,RL,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,...,SBrkr,Gd,Typ,Detchd,Unf,TA,TA,Y,WD,Abnorml
4,RL,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,...,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD,Normal

In [9]:
num.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,192,84,0,0,0,0,0,12,2008,250000

In [10]:
#the total number of the categorical columns are 43 
cat.isna().sum()

MSZoning            0
Street              0
Alley            1369
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType        872
ExterQual           0
ExterCond           0
Foundation          0
BsmtQual           37
BsmtCond           37
BsmtExposure       38
BsmtFinType1       37
BsmtFinType2       38
Heating             0
HeatingQC           0
CentralAir          0
Electrical          1
KitchenQual         0
Functional          0
GarageType         81
GarageFinish       81
GarageQual         81
GarageCond         81
PavedDrive          0
SaleType            0
SaleCondition       0
dtype: int64

In [11]:
cat.shape

(1460, 39)

In [12]:
cat.drop(['Alley'],axis=1,inplace=True)

In [13]:
cat.drop(['MasVnrType'],axis=1,inplace=True)

In [14]:
cat.dropna(inplace=True)

In [15]:
cat.shape

(1346, 37)

In [16]:
#total the shape of the categorical variable after dropping the null values

In [17]:
#we have prepared our data set
#now we will do the one hot encoding

# one hot encoding

In [18]:
data=pd.get_dummies(cat,drop_first=True)

In [19]:
data=data.astype('int')

In [20]:
data.shape

(1346, 188)

In [21]:
#the original categorical variables have columns 43 after transforming we got 188 columns by using the one hot encoding

In [22]:
data.head()

,MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM,Street_Pave,LotShape_IR2,LotShape_IR3,LotShape_Reg,LandContour_HLS,LandContour_Low,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,0,0,1,0,1,0,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0,0,1,0,1,0,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0
2,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [23]:
for i in cat:
    print(cat[i].unique())

['RL' 'RM' 'C (all)' 'FV' 'RH']
['Pave' 'Grvl']
['Reg' 'IR1' 'IR2' 'IR3']
['Lvl' 'Bnk' 'Low' 'HLS']
['AllPub' 'NoSeWa']
['Inside' 'FR2' 'Corner' 'CulDSac' 'FR3']
['Gtl' 'Mod' 'Sev']
['CollgCr' 'Veenker' 'Crawfor' 'NoRidge' 'Mitchel' 'Somerst' 'NWAmes'
 'OldTown' 'BrkSide' 'Sawyer' 'NridgHt' 'NAmes' 'SawyerW' 'IDOTRR'
 'MeadowV' 'Timber' 'Gilbert' 'StoneBr' 'ClearCr' 'Edwards' 'NPkVill'
 'Blmngtn' 'BrDale' 'SWISU' 'Blueste']
['Norm' 'Feedr' 'PosN' 'Artery' 'RRAe' 'RRNn' 'RRAn' 'PosA' 'RRNe']
['Norm' 'Artery' 'RRNn' 'Feedr' 'PosN' 'PosA' 'RRAn' 'RRAe']
['1Fam' '2fmCon' 'TwnhsE' 'Duplex' 'Twnhs']
['2Story' '1Story' '1.5Fin' '1.5Unf' 'SFoyer' 'SLvl' '2.5Unf' '2.5Fin']
['Gable' 'Hip' 'Gambrel' 'Mansard' 'Flat' 'Shed']
['CompShg' 'WdShngl' 'Metal' 'WdShake' 'Membran' 'Tar&Grv' 'Roll'
 'ClyTile']
['VinylSd' 'MetalSd' 'Wd Sdng' 'HdBoard' 'BrkFace' 'WdShing' 'CemntBd'
 'Plywood' 'Stucco' 'AsbShng' 'BrkComm' 'Stone' 'ImStucc' 'CBlock']
['VinylSd' 'MetalSd' 'Wd Shng' 'HdBoard' 'Plywood' 'Wd Sdng' 'CmentBd'
 'BrkFace' 'Stucco' 'AsbShng' 'Brk Cmn' 'ImStucc' 'AsphShn' 'Stone'
 'Other' 'CBlock']
['Gd' 'TA' 'Ex' 'Fa']
['TA' 'Gd' 'Fa' 'Ex']
['PConc' 'CBlock' 'BrkTil' 'Wood' 'Stone']
['Gd' 'TA' 'Ex' 'Fa']
['TA' 'Gd' 'Fa' 'Po']
['No' 'Gd' 'Mn' 'Av']
['GLQ' 'ALQ' 'Unf' 'Rec' 'BLQ' 'LwQ']
['Unf' 'BLQ' 'ALQ' 'Rec' 'LwQ' 'GLQ']
['GasA' 'GasW' 'Grav' 'OthW']
['Ex' 'Gd' 'TA' 'Fa' 'Po']
['Y' 'N']
['SBrkr' 'FuseF' 'FuseA' 'FuseP' 'Mix']
['Gd' 'TA' 'Ex' 'Fa']
['Typ' 'Min1' 'Maj1' 'Min2' 'Mod' 'Maj2' 'Sev']
['Attchd' 'Detchd' 'BuiltIn' 'CarPort' 'Basment' '2Types']
['RFn' 'Unf' 'Fin']
['TA' 'Fa' 'Gd' 'Ex' 'Po']
['TA' 'Fa' 'Gd' 'Po' 'Ex']
['Y' 'N' 'P']
['WD' 'New' 'COD' 'ConLI' 'CWD' 'ConLw' 'Con' 'ConLD' 'Oth']
['Normal' 'Abnorml' 'Partial' 'Family' 'Alloca' 'AdjLand']

In [24]:
#now lets go for another encoding technique

# one hot encoding for frequent features to reduce the dimensionality

In [25]:
cat.head()

,MSZoning,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,...,Electrical,KitchenQual,Functional,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,SaleType,SaleCondition
0,RL,Pave,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,...,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD,Normal
1,RL,Pave,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,...,SBrkr,TA,Typ,Attchd,RFn,TA,TA,Y,WD,Normal
2,RL,Pave,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,...,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD,Normal
3,RL,Pave,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,...,SBrkr,Gd,Typ,Detchd,Unf,TA,TA,Y,WD,Abnorml
4,RL,Pave,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,...,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD,Normal

In [26]:
#we will use the feature engine library for these 
from feature_engine.encoding import OneHotEncoder

In [27]:
ds=OneHotEncoder(top_categories=5,drop_last=True)

In [28]:
vs=ds.fit_transform(cat)

In [29]:
vs.head()

,MSZoning_RL,MSZoning_RM,MSZoning_FV,MSZoning_RH,MSZoning_C (all),Street_Pave,Street_Grvl,LotShape_Reg,LotShape_IR1,LotShape_IR2,...,SaleType_WD,SaleType_New,SaleType_COD,SaleType_ConLD,SaleType_ConLI,SaleCondition_Normal,SaleCondition_Partial,SaleCondition_Abnorml,SaleCondition_Family,SaleCondition_Alloca
0,1,0,0,0,0,1,0,1,0,0,...,1,0,0,0,0,1,0,0,0,0
1,1,0,0,0,0,1,0,1,0,0,...,1,0,0,0,0,1,0,0,0,0
2,1,0,0,0,0,1,0,0,1,0,...,1,0,0,0,0,1,0,0,0,0
3,1,0,0,0,0,1,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
4,1,0,0,0,0,1,0,0,1,0,...,1,0,0,0,0,1,0,0,0,0

In [30]:
#next encoding method is

# Ordinal Encoding

In [31]:
#the ordinal encoding is more suitable for the non linear machine learning algorithms 
#in these we try to replace the categories with the arbitary numbers between 1 to k-1
#where k is the number of the columns in the data set

In [32]:
from sklearn.preprocessing import OrdinalEncoder

In [33]:
ordinal=OrdinalEncoder()

In [34]:
x=ordinal.fit_transform(cat)

In [35]:
final_cat=pd.DataFrame(x,columns=cat.columns)

In [36]:
final_cat.head()

,MSZoning,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,...,Electrical,KitchenQual,Functional,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,SaleType,SaleCondition
0,3.0,1.0,3.0,3.0,0.0,4.0,0.0,5.0,2.0,2.0,...,4.0,2.0,6.0,1.0,1.0,4.0,4.0,2.0,8.0,4.0
1,3.0,1.0,3.0,3.0,0.0,2.0,0.0,24.0,1.0,2.0,...,4.0,3.0,6.0,1.0,1.0,4.0,4.0,2.0,8.0,4.0
2,3.0,1.0,0.0,3.0,0.0,4.0,0.0,5.0,2.0,2.0,...,4.0,2.0,6.0,1.0,1.0,4.0,4.0,2.0,8.0,4.0
3,3.0,1.0,0.0,3.0,0.0,0.0,0.0,6.0,2.0,2.0,...,4.0,2.0,6.0,5.0,2.0,4.0,4.0,2.0,8.0,0.0
4,3.0,1.0,0.0,3.0,0.0,2.0,0.0,15.0,2.0,2.0,...,4.0,2.0,6.0,1.0,1.0,4.0,4.0,2.0,8.0,4.0

In [37]:
#the ori=dinal encoding will return the same number of the dimensions

In [38]:
#ordinal encopding using the feature-engine 
from feature_engine.encoding  import OrdinalEncoder

In [39]:
bes=OrdinalEncoder(encoding_method='arbitrary')

In [40]:
dsa=bes.fit_transform(cat)

In [41]:
dsa.head()

,MSZoning,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,...,Electrical,KitchenQual,Functional,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,SaleType,SaleCondition
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,1,1,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,2,0,2,0,0,...,0,0,0,1,1,0,0,0,0,1
4,0,0,1,0,0,1,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
dsa.shape

(1346, 37)

In [43]:
#now lets see another encoding methd known as the count or frequebncy encoding methods

# Frequency or Target Encoding

In [44]:
#in these method we will encode the variables in the category using their frequency or the count based ON THE TARGET

In [45]:
#now lets import the frequency encoder first
from feature_engine.encoding import CountFrequencyEncoder

In [46]:
count=CountFrequencyEncoder(encoding_method='count')

In [47]:
new_data=count.fit_transform(cat)

In [48]:
new_data.head()

,MSZoning,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,...,Electrical,KitchenQual,Functional,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,SaleType,SaleCondition
0,1071,1341,835,1214,1345,963,1273,147,1170,1332,...,1250,574,1261,859,417,1278,1295,1265,1163,1108
1,1071,1341,835,1214,1345,43,1273,11,63,1332,...,1250,651,1261,859,417,1278,1295,1265,1163,1108
2,1071,1341,461,1214,1345,963,1273,147,1170,1332,...,1250,574,1261,859,417,1278,1295,1265,1163,1108
3,1071,1341,461,1214,1345,245,1273,51,1170,1332,...,1250,574,1261,369,580,1278,1295,1265,1163,86
4,1071,1341,461,1214,1345,43,1273,41,1170,1332,...,1250,574,1261,859,417,1278,1295,1265,1163,1108

In [49]:
new_data.shape

(1346, 37)

# Target Mean Encoding

In [60]:
data=pd.read_csv("heart (1).csv")

In [61]:
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [63]:
data.shape

(918, 12)

In [56]:
from feature_engine.encoding import MeanEncoder

In [67]:
c=data[['RestingECG','ST_Slope']]

In [68]:
mean_encode=MeanEncoder()

In [69]:
final_mean=mean_encode.fit_transform(c,data['HeartDisease'])

In [70]:
final_mean.head()

   RestingECG  ST_Slope
0    0.516304  0.197468
1    0.516304  0.828261
2    0.657303  0.197468
3    0.516304  0.828261
4    0.516304  0.197468

In [71]:
#so all the categories are filled with the means of their categories

# Encoding with weight of Evidence Technique

In [72]:
#the weo technique was used mainly for the financial data sets

In [73]:
from feature_engine.encoding import WoEEncoder

In [74]:
weo=WoEEncoder()

In [76]:
result=weo.fit_transform(c,data['HeartDisease'])

In [77]:
result.head()

   RestingECG  ST_Slope
0   -0.149084 -1.616517
1   -0.149084  1.359027
2    0.436976 -1.616517
3   -0.149084  1.359027
4   -0.149084 -1.616517

In [78]:
#Positive WoE values indicate that a category is associated with a higher likelihood of the event, while negative values indicate a lower likelihood.

In [79]:
#let us discuss another encoding technique

# Grouping of rare and infrequent categories together with rare

In [80]:
from feature_engine.encoding import RareLabelEncoder

In [81]:
#in these technque the rare occuring categories are filled with the string rare 
rare=RareLabelEncoder()

In [83]:
import warnings 
warnings.filterwarnings("ignore")

In [85]:
rare.fit_transform(cat).head()

,MSZoning,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,...,Electrical,KitchenQual,Functional,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,SaleType,SaleCondition
0,RL,Pave,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,...,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD,Normal
1,RL,Pave,Reg,Lvl,AllPub,FR2,Gtl,Rare,Feedr,Norm,...,SBrkr,TA,Typ,Attchd,RFn,TA,TA,Y,WD,Normal
2,RL,Pave,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,...,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD,Normal
3,RL,Pave,IR1,Lvl,AllPub,Corner,Gtl,Rare,Norm,Norm,...,SBrkr,Gd,Typ,Detchd,Unf,TA,TA,Y,WD,Abnorml
4,RL,Pave,IR1,Lvl,AllPub,FR2,Gtl,Rare,Norm,Norm,...,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD,Normal

In [86]:
#now let go for another technique known as binary encoder 
#in these technique we will replace the arbitary number with the binary representation 
#these technique better than the one hot encoding because it reduces the dimensionality in the dat set

# Binary Encoding technique

In [87]:
from category_encoders import BinaryEncoder

In [89]:
bin1=BinaryEncoder()

In [90]:
res1=bin1.fit_transform(cat)

In [91]:
res1.head()

,MSZoning_0,MSZoning_1,MSZoning_2,Street_0,Street_1,LotShape_0,LotShape_1,LotShape_2,LandContour_0,LandContour_1,...,GarageCond_2,PavedDrive_0,PavedDrive_1,SaleType_0,SaleType_1,SaleType_2,SaleType_3,SaleCondition_0,SaleCondition_1,SaleCondition_2
0,0,0,1,0,1,0,0,1,0,0,...,1,0,1,0,0,0,1,0,0,1
1,0,0,1,0,1,0,0,1,0,0,...,1,0,1,0,0,0,1,0,0,1
2,0,0,1,0,1,0,1,0,0,0,...,1,0,1,0,0,0,1,0,0,1
3,0,0,1,0,1,0,1,0,0,0,...,1,0,1,0,0,0,1,0,1,0
4,0,0,1,0,1,0,1,0,0,0,...,1,0,1,0,0,0,1,0,0,1

In [92]:
#in one hot ending the columns we got is 188 but in binary encoding we got 115

In [93]:
res1.shape

(1346, 115)

In [94]:
#now let learn another techniue known as feature hashing technique

# Feature HashiNG eNCODING

With feature hashing, the categories of a variable are converted into a series of binary
vectors using a hashing function. How does this work? First, we determine, arbitrarily, the
number of binary vectors to represent the category. For example, let's say we would like to
use five vectors. Next, we need a hash function that will take a category and return a
number between 0 and n-1, where n is the number of binary vectors. In our example, the
hash function should return a value between 0 and 4. Let's say our hash function returns
the value of 3 for the category blue. That means that our category blue will be represented
by a 0 in the vectors 0, 1, 2, and 4 and 1 in the vector 3: [0,0,0,1,0]. Any hash function can be
used as long as it returns a number between 0 and n-1

In [95]:
#IN These technique we will use the hash function 
from category_encoders import HashingEncoder

In [96]:
hash=HashingEncoder()

In [97]:
res=hash.fit_transform(cat)

In [98]:
res.head()

   col_0  col_1  col_2  col_3  col_4  col_5  col_6  col_7
0      5      4      2     15      1      4      2      4
1      7      7      1     12      2      4      2      2
2      5      4      2     14      2      3      2      5
3      4      5      0     16      2      2      3      5
4      7      4      1     14      2      3      2      4

In [99]:
######################################## End Code #################################################################